.nav {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.nav a{
  text-decoration: none;
  color: #eeeeee;
  padding: 1em;
  letter-spacing: 5px;
}

.nav a:hover{
  text-decoration: none;
  transition: .5s;
  color: #888888;
}

.App {
  text-align: center;
  font-family: 'futura-pt',sans-serif;
  font-style: normal;
  font-weight: 500;
}

.App-header {
  background-color: #111;
  height: -webkit-fill-available;
  padding: 0px;
  margin: 0px;
}

.App-title {
  transition: 1s ;
  color: #ffffff;
  display: inline;
  font-size: 6.5em;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: -webkit-radial-gradient(cyan, magenta, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
