.nav {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.nav a{
  text-decoration: none;
  color: #999;
  padding: 1em;
  letter-spacing: 5px;
}

.nav a:hover{
  text-decoration: none;
  transition: .5s;
  color: #666;
}

.profile-pic{
  border-radius: 100%;
  width: 30%;
  height: 30%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.3em;
  position: absolute;
  top: 92%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.footer a{
  text-decoration: none;
  color: #aaa;
  padding: .5em;
  letter-spacing: 5px;
}

.footer a:hover{
  text-decoration: none;
  transition: .5s;
  color: #777;
}

.App {
  text-align: center;
  font-family: 'futura-pt',sans-serif;
  font-style: normal;
  font-weight: 500;
}

.App-header {
  background-color: #fff;
  height: -webkit-fill-available;
  padding: 0px;
  margin: 0px;
}

.App-title {
  color: #333;
  display: inline;
  font-size: 6.5em;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
