.nav {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1em;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.nav a{
  text-decoration: none;
  color: #aaa;
  padding: 1em;
  letter-spacing: 5px;
}

.nav a:hover{
  text-decoration: none;
  transition: .5s;
  color: #777;
}

.footer {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 1.3em;
  position: absolute;
  top: 92%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.footer a{
  text-decoration: none;
  color: #aaa;
  padding: .5em;
  letter-spacing: 5px;
}

.footer a:hover{
  text-decoration: none;
  transition: .5s;
  color: #777;
}

.App {
  text-align: center;
  font-family: 'futura-pt',sans-serif;
  font-style: normal;
  font-weight: 500;
}

.App-header {
  /*think about this*/
  background-color: #fff;
  /*background-color: #111;*/
  height: -webkit-fill-available;
  padding: 0px;
  margin: 0px;
}

.App-title {
  transition: 1s ;
  color: #333;
  display: inline;
  font-size: 6.5em;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /*background: -webkit-radial-gradient(cyan, magenta, white);*/
  /*Think about this*/
  /*background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}
